.artistPreviewFromLibrary {
  border: 3px solid black;
  height: 300px;
  overflow-y: scroll;
  background-color: lightseagreen;

}





/********************************* new gen ***********************************/
body {
  height: 60rem;
}


#container {
  background-color: lightpink;
  margin: 2%;
  width: 92%;
  height: 70%;
  padding: 2%;
  display: grid;
  grid-template-columns: 15% auto;
}

.template {
  border: 2px solid black;
}

.header {
  height: 10%;
  width: 100%;
  background-color: lightblue;
  text-align: center;
  display: grid;
  grid-template-columns: 20% auto 20%;

}

.header-side {
  width: auto;
  border: 2px dotted white;
}

.header-center {
  width: auto;
  border: 2px dotted white;
  padding: 5%;
}

.search-bar {
  width: 80%;
  height: 100%;
  /* background-color: red; */
  border-radius: 20px;
  border: 0px;
  background-color: rgba(255, 255, 255, 0.3);
}


.footer {
  height: 5%;
  text-align: center;
  background-color: lightcyan;
}


#library {
  height: auto;
  padding: 5%;
  border: 2px dotted white;
  overflow-y: scroll;
}

.artistLibraryPreview {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  height: 20%;
  border: 1px dotted white;
  border-radius: 20px;
  padding: 5%;
  margin-top: 5%;
}


.artistLibraryPoster {
  width: 60%;
  border-radius: 50%;
}


.main {
  padding: 2%;
  width: auto;
  height: auto;
  border: 2px dotted white;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-y: scroll;
  /* justify-content: space-between; */
  align-content: flex-start;
  column-count: 3;
  row-gap: 5%;
  column-gap: 5%;

}

.main-tracks-view {
  padding: 2%;
  width: auto;
  height: auto;
  border: 2px dotted white;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-y: scroll;
  overflow-x: hidden;
  justify-content: space-between;
  align-content: flex-start;
  /* column-count: 2; */
  /* row-gap: 5%; */
  column-gap: 5%;
  column-count: 2;
}

hr {
  width: 40%;
  margin-left: 0;
}


#tracksDiv {
  background-color: rgba(255, 255, 255, 0.2);
  width: 60%;
  height: auto;
}

#releasesDiv {
  /* background-color: red; */
  border: 2px dotted white;
  width: 30%;
  height: auto;
}




#main-info {
  background-color: red;
  width: 100%;
  height: min-content;
  column-span: all;
}


.albumPreviewPoster {
  height: 100%;
}

.albumPreview {
  /* border: 2px dotted white; */
  width: 30%;
  height: 25%;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  border-radius: 12pt;

}

.albumPreviewQueue {
  width: 100%;
  height: 80%;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
  border-radius: 12pt;
  flex-direction: row;
}



.artistPreview {
  border: 3px dotted white;
  height: 300px;
  width: auto;
  padding: 5% 10% 5% 10%;
  overflow-y: scroll;
}


.trackView {
  width: 50%;
}


#queue {
  background-color: lightpink;
  width: 100%;
  height: 15%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: space-around; */
  column-gap: 2%;
  align-content: flex-start;

}

.queueElement {
  border: 2px dotted white;
  height: 80%;
  width: 20%;
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}

.queueElement-display {
  width: 100%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.3);
}

.artistPreviewPoster {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.queueTitle {
  margin: 0;
  width: 100%;
  height: auto;
}