/********************************* new gen ***********************************/
:root {
  /* --color1: #E37BC0; */
  /* --color2: #12143B; */
  /* --light: #F1E9E9; */
  /* --midtone: #7C4584; */
  /* --darkmid: #432C5F; */
  --color1: #968fd3;
  --color2: #041d21;
  --light: #ede9ed;
  --midtone: #47557c;
  --darkmid: #20384b;
  --glass-border: rgba(255, 255, 255, 0.1);
  --glass-border-active: rgba(0, 0, 0, 0.1);
  --color1-t: #968fd366;
  --color2-t: #041d2166;
  --light-t: #ede9ed66;
  --midtone-t: #47557c66;
  --darkmid-t: #20384b66;


}


html {
  height: 100%;
  width: 100%;
  font-size: 12pt;
  /* overflow-y: hidden; */
}



.noise {
  --_noise-texture: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 300 300'><defs><filter id='n' x='0' y='0' width='100%' height='100%' color-interpolation-filters='sRGB'><feTurbulence type='fractalNoise' baseFrequency='0.3' numOctaves='3' stitchTiles='stitch' result='t'/><feColorMatrix type='saturate' values='0' in='t' result='g'/><feComponentTransfer in='g' result='a'><feFuncA type='linear' slope='0.5'/></feComponentTransfer></filter></defs><rect width='100%' height='100%' filter='url(%23n)'/></svg>");
  --_noise-size: 20.4%;
  background-image: var(--_noise-texture);
  background-size: var(--_noise-size);
  background-position: center;
  background-repeat: repeat;
}


body {
  height: 100%;
  overflow: hidden;
  /* margin: 5%; */
  font-family: "Figtree", sans-serif;
  color: var(--light);
  /* font-size: 14pt; */
  font-weight: 300;
  margin: 0;
  /* background: linear-gradient(60deg, var(--color1), var(--color2)); */
  background-color: hsla(289, 56%, 22%, 1);
  /* background-image: radial-gradient(circle at 96% 10%, hsla(279, 49%, 26%, 1) 12%, transparent 53%), */
  /* radial-gradient(circle at 36% 25%, hsla(322, 58%, 63%, 1) 12%, transparent 53%), */
  /* radial-gradient(circle at 88% 83%, hsla(329, 86%, 86%, 1) 12%, transparent 53%), */
  /* radial-gradient(circle at 43% 82%, hsla(191, 69%, 77%, 1) 12%, transparent 53%), */
  /* radial-gradient(circle at 55% 72%, hsla(289, 40%, 28%, 1) 12%, transparent 53%), */
  /* radial-gradient(circle at 44% 25%, hsla(303, 64%, 86%, 1) 12%, transparent 53%), */
  /* radial-gradient(circle at 14% 6%, hsla(271, 74%, 17%, 1) 12%, transparent 53%); */
  /* background-image: radial-gradient(circle at 39.31383163701294% 39.1458550749102%, hsla(267, 37%, 27%, 1) 10.384656300654019%, transparent 97.17243252552592%), */
  /* radial-gradient(circle at -10.250120770440732% -25.493490446112492%, hsla(322, 57%, 81%, 1) 0%, transparent 50%), */
  /* radial-gradient(circle at 25.454222026903818% 51.163035768380176%, hsla(237, 53%, 15%, 1) 5.073635381166413%, transparent 34.02422337695371%), */
  /* radial-gradient(circle at 51.81686177068037% 45.006404881718495%, hsla(281, 76%, 30%, 1) 4.481434146454876%, transparent 46.604240439054536%), */
  /* radial-gradient(circle at 64.6499519170738% -18.49658394097408%, hsla(292, 31%, 39%, 1) 4.641485365971122%, transparent 39.938103238702396%), */
  /* radial-gradient(circle at 20.710693316761578% 97.88731950644753%, hsla(311, 34%, 53%, 1) 4.00128048790614%, transparent 41.399913820076975%), */
  /* radial-gradient(circle at 67.95057422280537% 40.35158272818362%, hsla(255, 41%, 21%, 1) 25.125364826224157%, transparent 88.19089370690203%); */
}

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  /* --_gradient-blend-mode: normal; */
  /* --_gradient-blur: 0px; */
  /* --_gradient: radial-gradient(at 53.5% 20.1%, #432c5f 0px, transparent 50%), radial-gradient(at 61.3% 57.6%, #7c4584 0px, transparent 50%), radial-gradient(at 8.6% 70.9%, #e37bc0 0px, transparent 50%), radial-gradient(at 97.4% 2.6%, #f1e9e9 0px, transparent 50%); */

  /* background: var(--_gradient) #12143b; */
  /* mix-blend-mode: var(--_gradient-blend-mode); */
  background-color: var(--color2);
  /* filter: brightness(60%) saturate(200%); */

  background:
    radial-gradient(circle at 0% -10%, var(--color1-t), transparent 20%),
    radial-gradient(circle at bottom right, var(--light-t), transparent 30%),
    radial-gradient(circle at 0% 50%, var(--midtone), transparent 50%),
    radial-gradient(circle at 80% 0%, var(--darkmid), transparent 50%),
    url("#noiseFilter"),
    var(--color2);

  filter: hue-rotate(20deg);

}

button {
  background-color: transparent;
  border: none;
  color: var(--light);
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Figtree", sans-serif;
  font-weight: 300;
  font-size: 12pt;
}



.a-plain {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

.a-plain:active {
  color: var(--color1);
}

.a-plain:visited {
  color: var(--color1);
}



.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(var(--midtone), var(--color2));
  position: absolute;
  z-index: 0;

  animation-name: orbit;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;

  filter: hue-rotate(20deg);
}


@keyframes orbit {

  to {
    transform: rotate(100deg) translate(5%, 10%);
  }

}

#circle1 {
  left: 60%;
  top: 20%;
  transform: rotate(-30deg) scale(0.8);
  animation-delay: 2s;
  animation-direction: alternate;
}

#circle2 {
  left: 34%;
  top: 40%;
  transform: scale(1.1);
  animation-delay: 1s;
  animation-direction: alternate-reverse;
  animation-fill-mode: backwards;
}

#circle3 {
  left: 25%;
  top: 60%;
  transform: rotate(60deg) scale(1.3);
  animation-direction: alternate;

}







/* pure style */
/* .glass { */
/* width: 500px; */
/* height: auto; */
/* position: absolute; */
/* padding: 5%; */
/* border-radius: 50px; */
/* z-index: 1; */
/* top: 50%; */
/* left: 50%; */
/* transform: translate(-50%, -50%); */
/* --border: 3px; */
/* backdrop-filter: blur(10px); */
/* border: var(--border) solid rgba(0, 0, 0, 0.06); */
/* background-color: rgba(255, 255, 255, 0.04); */
/* background: radial-gradient(rgba(255, 255, 255, 0.05) 0, transparent 50%); */
/* background-color: transparent; */
/* box-shadow: rgba(20, 20, 60, 0.3) 0 10px 20px 2px; */
/* color: var(--light); */
/* } */


/* .glass::before { */
/* content: ''; */
/* position: fixed; */
/* top: 0; */
/* right: 0; */
/* bottom: 0; */
/* left: 0; */
/* z-index: -1; */
/* border-radius: inherit; */

/* padding: var(--border); */

/* background: */
/* linear-gradient(-45deg, var(--glass-border) 0, transparent 10%), */
/* linear-gradient(135deg, var(--glass-border) 0, transparent 10%), */
/* linear-gradient(45deg, var(--glass-border) 0, transparent 10%), */
/* linear-gradient(-135deg, var(--glass-border) 0, transparent 10%); */
/* mask: */
/* linear-gradient(#000, #000) content-box, */
/* linear-gradient(#000, #000); */
/* mask-composite: exclude; */
/* margin: calc(-1*var(--border)); */
/* } */


/* .glass-button:hover { */
/* background: radial-gradient(ellipse at bottom, rgba(255, 255, 255, 0.1) 0, transparent 70%); */
/* } */


/* .glass-button:active { */
/* background: rgba(255, 255, 255, 0.02); */
/* backdrop-filter: blur(5px); */
/* box-shadow: rgba(20, 20, 60, 0.3) 0 10px 20px 2px inset; */
/* } */

/* .glass-button:active.glass::before { */
/* background: */
/* linear-gradient(45deg, var(--glass-border-active) 0, transparent 10%), */
/* linear-gradient(235deg, var(--glass-border-active) 0, transparent 10%); */
/* } */


/* .glass-round:hover { */
/* background: radial-gradient(rgba(255, 255, 255, 0.1) 0, transparent 70%); */
/* } */

.no-shadow {
  box-shadow: none;
}




#big-container {
  display: grid;
  grid-template-rows: 10% auto;
  height: 90%;
  width: 80%;
  gap: 5%;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#container {
  /* background-color: lightpink; */
  background-color: transparent;
  margin: 0%;
  /* width: 92%; */
  height: 100%;
  padding: 0%;
  display: grid;
  grid-template-columns: 25% auto;
  gap: 3%;
  position: relative;
}

.template {
  border: 2px solid black;
}

.header {
  /* height: 10%; */
  width: 100%;
  /* background-color: lightblue; */
  text-align: center;
  display: grid;
  grid-template-columns: 20% 60% auto auto;
  /* margin-top: 2%; */
  gap: 3%;

}


#header-right {
  border-radius: 50%;
  /* aspect-ratio: 1; */
  height: 100%;
  aspect-ratio: 1;
  margin: auto;
  /* position: absolute; */
}

#header-right2 {
  border-radius: 50%;
  /* aspect-ratio: 1; */
  height: 100%;
  aspect-ratio: 1;
  margin: auto;
  /* position: absolute; */
}

.header-side {
  width: auto;
  height: 100%;
  margin: 0;
  /* border: 2px dotted white; */
}

#header-right2:hover {
  animation: wobble;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
}



#audette {
  text-align: center;
  font-family: "Parisienne", serif;
  font-size: 32pt;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  /* color: var(--color1); */
  color: transparent;
  background: linear-gradient(to top left, var(--color1) 40%, var(--light));
  background-clip: text;
}






@keyframes wobble {
  to {
    transform: rotate(180deg);
  }
}

#header-center {
  width: 90%;
  /* border: 2px dotted white; */
  padding: 3%;
  height: auto;
  margin: auto;
}

.search-bar {
  width: 80%;
  height: 100%;
  /* background-color: red; */
  border: 0px;
  background-color: transparent;
  font-size: 14pt;
  color: var(--light);
  outline: none;
}

.inline-icon-search {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}


#library-title {
  width: auto;
  margin: 0;
  height: auto;
  padding: 5%;
  z-index: 100;
  text-align: center;
}

#library-container {
  height: 100%;
  position: relative;
  display: grid;
  grid-template-rows: min-content auto;
  row-gap: 3%;
}

#libraryOuter {
  position: relative;
  width: auto;
  height: auto;
}

#library {
  height: 94%;
  width: 90%;
  /* top: 10%; */
  /* left: 0; */
  /* margin: 5%; */
  padding: 5%;
  /* border: 2px dotted white; */
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-count: 2;
  justify-content: space-around;
  align-content: flex-start;
  position: absolute;
  border-radius: 50px;
}

#album-overview {
  position: relative;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 5%;
  padding-top: 5%;
  width: auto;
  height: auto;
  text-align: center;
  border-radius: 50px;
}

#artist-album-overview {
  font-size: 12pt;
  font-style: italic;
  position: relative;
  margin: 0;
  padding-top: 5%;
  height: min-content;
  width: 100%;
}

#artist-album-overview:hover {
  text-decoration: underline;
}

.inline-icon {
  position: relative;
  left: 0;
  margin-top: auto;
  margin-bottom: auto;
  padding: 5%;
}

#footer-container {
  position: relative;
}


.footer {
  height: auto;
  text-align: center;
}

.artistLibraryPreview {
  /* background-color: rgba(255, 255, 255, 0.2); */
  text-align: left;
  /* font-family: 'Courier New', Courier, monospace; */
  height: fit-content;
  /* border: 1px dotted white; */
  border-radius: 25%;
  padding: 5%;
  margin-top: 5%;
  width: 35%;
  display: grid;
  grid-template-rows: auto auto;
}



#main-container {
  height: auto;
  position: relative;
}


.main {
  padding: 5%;
  width: 90%;
  height: 75%;
  /* margin-top: 3%; */
  /* margin-left: 5%; */
  /* border: 2px
  dotted white; */
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-y: scroll;
  overflow-x: hidden;
  /* justify-content: space-around; */
  align-content: flex-start;
  column-count: 3;
  row-gap: 5%;
  column-gap: 5%;

}


.artistLibraryPoster {
  width: 60%;
  border-radius: 50%;
}



.main-tracks-view {
  padding: 5%;
  width: 90%;
  height: 75%;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: hidden;
  /* justify-content: space-around; */
  align-content: flex-start;
  column-count: 3;
  row-gap: 5%;
  column-gap: 5%;
  justify-content: space-between;
  align-content: flex-start;
  column-count: 2;
}

hr {
  width: 100%;
  margin: 0;
  color: var(--light);
  border: 1px solid rgba(255, 255, 255, 0.3);
}


.spacer {
  width: 100%;
  height: 1rem;
  content: "";
}


#tracksDiv {
  /* background-color: rgba(255, 255, 255, 0.2); */
  width: 50%;
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 2%;
  margin-bottom: 2%;
  /* position: absolute; */
}



#releasesDiv {
  /* background-color: red; */
  /* border: 2px dotted white; */
  padding: 3%;
  width: 30%;
  height: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* flex-direction: row; */
  display: flex;
  flex-direction: column;
  /* position: absolute; */
}


.button-releases {
  height: fit-content;
  width: 100%;
  padding: 5%;
  position: relative;
  top: 0%;
  margin-top: 5%;
}

.button-back {
  position: absolute;
  width: 20%;
  padding: 5%;
  left: 5%;
}

#main-info-div {
  /* background-color: red; */
  width: 100%;
  height: 30pt;
  column-span: all;
  display: flex;
  flex-direction: row;
  position: relative;

  /* border: 2px dotted white; */
}

#main-info {
  height: min-content;
  padding: 1%;
  margin: auto;
  font-weight: 400;
}


.albumPreviewPoster {
  width: 100%;
  aspect-ratio: 1;
}

.albumPreview {
  /* border: 2px dotted white; */
  width: 25%;
  height: auto;
  /* background-color: rgba(255, 255, 255, 0.3); */
  display: grid;
  border-radius: 14pt;
  font-size: 1rem;
  grid-template-columns: 30% auto;
  text-align: center;
  padding: 2%;

}

.albumPreviewQueue {
  width: 100%;
  height: 80%;
  display: grid;
  border-radius: 12pt;
  grid-template-columns: 20% auto;
  position: relative;
  padding-left: 5%;
  margin-top: 5%;
}

.album-title {
  margin: 0;
  /* color: red; */
}

.album-type {
  margin: 0;
  font-style: italic;
}

.album-releaseDate {
  margin: 0;
}

.album-downloaded {
  margin: 0;
  text-decoration: underline;
}



.artistPreview {
  min-height: 30%;
  height: fit-content;
  width: 100%;
  padding: 5% 10% 5% 10%;
  display: grid;
  grid-template-columns: 30% auto;
  gap: 10%;
}


.artistPreviewFromLibrary {
  color: var(--color1);
  /* min-height: 30%; */
  /* height: fit-content; */
  /* width: 100%; */
  /* padding: 5% 10% 5% 10%; */
  /* overflow-y: hidden; */
  /* display: flex; */
}


.trackView {
  width: auto;
  margin: 1%;
}


#queue {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* justify-content: space-around; */
  column-gap: 2%;
  align-content: flex-start;

}

.queueElement {
  height: auto;
  width: 40%;
  padding: 2%;
  /* display: flex; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
}

.queueElement-display {
  width: 100%;
  height: auto;
  /* background-color: rgba(255, 255, 255, 0.3); */
}

.artistPreviewPoster {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
}

.queueTitle {
  margin: 0;
  width: 100%;
  height: auto;
  background-color: transparent;
}


.versionInfo {
  width: auto;
  padding: 5%;
  display: flex;
  flex-direction: column;
  text-align: center;

}

.viewRelease {
  color: red;
  width: min-content;
}

.request-button {
  border-radius: 50%;
  width: 28pt;
  height: 28pt;
  text-align: center;
  position: relative;
  left: 50%;
  top: 0%;
  transform: translateX(-50%);
}

.unavailable {
  color: rgba(255, 255, 255, 0.5);
}


@keyframes loading-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loading-animated {
  animation-name: loading-rotate;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.center-button {
  position: absolute;
  top: 40%;
  left: 100%;

}

.submit {
  font: inherit;
  position: relative;
  height: 100%;
  width: 100%;
}

#settings {
  display: grid;
  grid-template-columns: 10% auto;
  grid-template-rows: 28pt 28pt;
  row-gap: 14pt;
  width: 60%;
  margin: auto;
  height: auto;
  flex-direction: row;
  position: relative;
}

#global-info {
  display: flex;
  flex-direction: column;
  margin: auto;
}