:root {
  --color1: #E37BC0;
  --color2: #12143B;
  --light: #F1E9E9;
  --midtone: #7C4584;
  --darkmid: #432C5F;
  --glass-border: rgba(255, 255, 255, 0.1);
  --glass-border-active: rgba(0, 0, 0, 0.1);
}



html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Figtree", sans-serif;
  font-size: 14pt;
  font-weight: 300;
  background: linear-gradient(60deg, var(--color1), var(--color2));
  /* background-color: hsla(289, 56%, 22%, 1); */
  /* background-image: radial-gradient(circle at 96% 10%, hsla(279, 49%, 26%, 1) 12%, transparent 53%), */
  /* radial-gradient(circle at 36% 25%, hsla(322, 58%, 63%, 1) 12%, transparent 53%), */
  /* radial-gradient(circle at 88% 83%, hsla(329, 86%, 86%, 1) 12%, transparent 53%), */
  /* radial-gradient(circle at 43% 82%, hsla(191, 69%, 77%, 1) 12%, transparent 53%), */
  /* radial-gradient(circle at 55% 72%, hsla(289, 40%, 28%, 1) 12%, transparent 53%), */
  /* radial-gradient(circle at 44% 25%, hsla(303, 64%, 86%, 1) 12%, transparent 53%), */
  /* radial-gradient(circle at 14% 6%, hsla(271, 74%, 17%, 1) 12%, transparent 53%); */
  background-image: radial-gradient(circle at 39.31383163701294% 39.1458550749102%, hsla(267, 37%, 27%, 1) 10.384656300654019%, transparent 97.17243252552592%), radial-gradient(circle at -10.250120770440732% -25.493490446112492%, hsla(322, 57%, 81%, 1) 0%, transparent 50%), radial-gradient(circle at 25.454222026903818% 51.163035768380176%, hsla(237, 53%, 15%, 1) 5.073635381166413%, transparent 34.02422337695371%), radial-gradient(circle at 51.81686177068037% 45.006404881718495%, hsla(281, 76%, 30%, 1) 4.481434146454876%, transparent 46.604240439054536%), radial-gradient(circle at 64.6499519170738% -18.49658394097408%, hsla(292, 31%, 39%, 1) 4.641485365971122%, transparent 39.938103238702396%), radial-gradient(circle at 20.710693316761578% 97.88731950644753%, hsla(311, 34%, 53%, 1) 4.00128048790614%, transparent 41.399913820076975%), radial-gradient(circle at 67.95057422280537% 40.35158272818362%, hsla(255, 41%, 21%, 1) 25.125364826224157%, transparent 88.19089370690203%);
  background-color: hsla(237, 53%, 15%, 1);

}


.glass {
  width: 500px;
  height: auto;
  position: absolute;
  padding: 5%;
  border-radius: 50px;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  --border: 3px;

  backdrop-filter: blur(10px);
  border: var(--border) solid rgba(0, 0, 0, 0.06);
  /* background-color: rgba(255, 255, 255, 0.04); */
  background: radial-gradient(rgba(255, 255, 255, 0.05) 0, transparent 50%);
  /* background-color: transparent; */
  box-shadow: rgba(20, 20, 60, 0.3) 0 10px 20px 2px;



  /* color: rgba(200, 200, 200); */
  color: var(--light);
}


.glass::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  border-radius: inherit;

  padding: var(--border);

  background:
    linear-gradient(-45deg, var(--glass-border) 0, transparent 10%),
    linear-gradient(135deg, var(--glass-border) 0, transparent 10%),
    linear-gradient(45deg, var(--glass-border) 0, transparent 10%),
    linear-gradient(-135deg, var(--glass-border) 0, transparent 10%);
  mask:
    linear-gradient(#000, #000) content-box,
    linear-gradient(#000, #000);
  mask-composite: exclude;
  margin: calc(-1*var(--border));
}




.glass:active {
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(5px);
  box-shadow: rgba(20, 20, 60, 0.3) 0 10px 20px 2px inset;
}

.glass:active.glass::before {
  background:
    linear-gradient(45deg, var(--glass-border-active) 0, transparent 10%),
    linear-gradient(235deg, var(--glass-border-active) 0, transparent 10%);
}











.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(var(--color1), var(--color2));
  position: absolute;
  z-index: 0;
}

#circle1 {
  left: 60%;
  top: 20%;
  transform: rotate(-30deg);
}

#circle2 {
  left: 32%;
  top: 40%;
  transform: rotate(30deg);
  transform: scale(1.1);
}

#circle3 {
  left: 25%;
  top: 60%;
  transform: rotate(60deg);

}